*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div, header, nav{
    border: solid 2px black;
    margin: 10px;
    padding: 10px;
}

header{
    display: flex;
    justify-content: space-around;
}

#flex-container{
    display: flex;
    flex-direction: row;
}

#flex-cont-column{
    display: flex;
    flex-direction: column;
}

.flex-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}